/* Define colors */
:root {
    --red-deep: #5a0a0c;
    --gold-light: #f0c040;
}

.nav-links li:nth-child(4) {
    border-top: 2px solid var(--gold-light); 
    border-bottom: 2px solid var(--gold-light);
}
.nav-links li:nth-child(4) a {
    color: var(--gold-light);
}